@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --beige-50: #fffaf0;
  --beige-100: #fff3da;
  --beige-400: #ffedc7;
  --orange-200: #ffde98;
  --orange-300: #ffd887;
  --orange-800: #f49200;
  --red-100: #ffadad;
  --red-500: #ff7a7a;
  --purple-300: #dfccfb;
  --purple-500: #d0bfff;
  --purple-700: #beadfa;
  --fullHeight: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--beige-50);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
